@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #f9c58a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.backgroundLightBrown {
  background-color: #e5c29f;
}

.textDarkBrown {
  color: #631919;
}

.backgroundOrange {
  background-color: #F97316;
}

.textOrange {
  color: #F97316;
}

.backgroundTan {
  background-color: #f9c58a;
}

.palGray {
  background-color: #DED7D1;
}

.palTan {
  background-color: #EAB6A5;
}

.palLightBrown {
  background-color: #D97769;
}

.palBrown {
  background-color: #8C5B4C;
}

.palGrayGreen {
  background-color: #303436;
}

.palDarkBrown {
  background-color: #5A3E2B;
}
